html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: black;
  color: whitesmoke;
}

header {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  /*
  position: relative;
  height: 40vh;
  border-bottom: 1px solid gray;
  */
}

main {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  color: white;
  width: 40rem;
  font-size: 2.5rem;
}

/* ELEMENTS */

h1 {
  position: absolute;
  font-size: 4rem;
  text-align: center;
  left: 37%;
}

h3 {
  position: absolute;
  font-size: 1.8rem;
  text-align: center;
  top: 2.5%;
  left: 80%;
}

.btn-again {
  position: absolute;
  top: 2.5%;
  left: 3%;
  padding: 0.8em;
  font-size: 1.8rem;
  font-family: "Press Start 2P", cursive;
}

.number {
  background-color: white;
  color: black;
  position: absolute;
  left: 45%;
  top: 33%;
  text-align: center;
  font-size: 10rem;
  width: 20rem;
  text-align: center;
  padding: 2rem 2rem;
  border: 1px solid whitesmoke;
}

.guess {
  display: block;
  width: 19rem;
  text-align: center;
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-family: "Press Start 2P", cursive;
  color: black;
}

.btn-check {
  width: 20rem;
  padding: 1.5rem 1.5rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Press Start 2P", cursive;
}
